@import url("reset.css");

@font-face {
  font-family: "EF_jejudoldam";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
:root {
  --light-gray-color: #f3f3f3;
  --gray-color: #7d7d7d;
  --green-color: #648057;
  /* --green2-color: #6f8d60;
  --green3-color: #91aa84;
  --green4-color: #c0d3b7;
  --green5-color: #cce0c2; */
  --white-color: #ffffff;
}

html,
body {
  font-size: 62.5%;
  line-height: 1.285;
}

body {
  padding: 2rem;
  font-family: "EF_jejudoldam";
}

img {
  width: 20rem;
}

.onboarding {
  margin-bottom: 4rem;
}

header {
  padding: 0.7rem 0.5rem;
  margin-bottom: 2rem;
  width: fit-content;

  border-bottom: 0.2rem solid var(--green-color);
  border-style: none none dotted none;
  color: var(--green-color);

  font-size: 1.5rem;
  font-weight: 800;
}

.onboarding-scroll {
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 1rem;

  margin-bottom: 3rem;

  overflow: scroll;
}

.onboarding-nav {
  width: 100%;
  height: 3rem;

  display: flex;
  justify-content: center;
  gap: 8rem;

  margin-bottom: 5rem;
}

.nav-category {
  padding: 0.4rem;

  font-size: 1.2rem;

  color: var(--green-color);
}

.nav-category:hover {
  color: var(--gray-color);

  border-bottom: 0.2rem solid var(--gray-color);
  border-style: none none dotted none;

  cursor: pointer;
}

section > h1 {
  font-size: 2rem;

  color: var(--green-color);
  background-color: var(--white-color);

  border: 0.3rem solid var(--green-color);
  padding: 3rem;
}

.halftone {
  --dotSize: 0.2rem;
  --bgSize: 5rem;
  --bgPosition: calc(var(--bgSize) / 2);
  background-image: radial-gradient(
      circle at center,
      var(--green-color) var(--dotSize),
      transparent 0
    ),
    radial-gradient(
      circle at center,
      var(--green-color) var(--dotSize),
      transparent 0
    );
  background-size: var(--bgSize) var(--bgSize);
  background-position: 0 0, var(--bgPosition) var(--bgPosition);
}

.first-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  padding: 3rem 0;
}
